:root {
  --bg-number-button: #d8d9db;
  --bg-operator-button: #df974c;
  --text-button-light: #ffffff;
  --text-button-dark: #000000;
}

body {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 400px;
  padding: 2rem;
}

.calc-button {
  padding: 1rem;
  border: 1px solid var(--text-button-dark);
  font-size: 40px;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

.number {
  background-color: var(--bg-number-button);
  color: var(--text-button-dark);
}

.screen {
  font-family: "Courier New", Courier, monospace;
  grid-area: screen;
  padding: 20px 5px;
  background: var(--text-button-dark);
  color: var(--text-button-light);
  font-size: 40px;
  text-align: right;
}

.number-0 {
  grid-area: number-0;
}

.number-1 {
  grid-area: number-1;
}

.number-2 {
  grid-area: number-2;
}

.number-3 {
  grid-area: number-3;
}

.number-4 {
  grid-area: number-4;
}

.number-5 {
  grid-area: number-5;
}

.number-6 {
  grid-area: number-6;
}

.number-7 {
  grid-area: number-7;
}

.number-8 {
  grid-area: number-8;
}

.number-9 {
  grid-area: number-9;
}

.sum {
  grid-area: sum;
}

.subtraction {
  grid-area: subtraction;
}

.multiplication {
  grid-area: multiplication;
}

.division {
  grid-area: division;
}

.clear {
  grid-area: clear;
}

.equal {
  grid-area: equal;
}

.operator {
  background-color: var(--bg-operator-button);
  color: var(--text-button-light);
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "screen screen screen screen" "clear clear clear division"
    "number-7 number-8 number-9 multiplication"
    "number-4 number-5 number-6 subtraction" "number-1 number-2 number-3 sum"
    "number-0 number-0 number-0 equal";
}
